{% include 'header.html' %}

{% include 'search.html' %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2>
                404 :(
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Nie ma tutaj tego, czego szukasz
            </p>
        </div>
    </div>

    <div class="row">
        <a href="{{url_for('index')}}" class="btn btn-dark">Główna</a>
    </div>
</div>

{% include 'footer.html' %}
