<section class="container-fluid build-with" style="background-color: rgb(219, 219, 219);">
    <div class="row build-with__title">
        <div class="col text-center">
            <h4>
                Zbudowałem, bo mogę z użyciem:
            </h4>
        </div>
    </div>
    <div class="row build-with__images">
        <div class="col">
            <img src="{{ url_for('static', filename='img/python-icon.png') }}" class="img-fluid d-block mx-auto build-with__images--img" alt="...">
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='img/flask-icon.png') }}" class="img-fluid d-block mx-auto build-with__images--img" alt="...">
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='img/sass-icon.png') }}" class="img-fluid d-block mx-auto build-with__images--img" alt="...">
        </div>
    </div>
</section>
</body>
<footer class="container-fluid text-center" style="color: #fff; background-color: #000; height: 50px; padding: 10px;">
    <p>jakubsadowski.pl</p>
</footer>