<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>
        Facebook Ads Interest Research Tool
    </title>
    <meta name="description" content="Search, explore, get inspired. Build a list of interests to reach your target audience." />
    <meta name="author" content="jakubsadowski.pl" />
    <!-- <meta property="og:image" content="https://....png" /> -->
    <!-- <meta property="og:url" content="https://" /> -->
    <!-- <link rel="alternate" hreflang="x-default" href="https://" />
    <link rel="alternate" hreflang="en-us" href="https:// " /> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</head>
<body>
  <header class="page-header">
    <nav class="page-header__nav">
      <li class="page-header__nav-element">
        <a href="{{url_for('index')}}">Główna</a>
      </li>
      <li>
        <a href="https://jakubsadowski.pl/">O mnie</a>
      </li>
    </nav>
  </header>
    </div>