{% include 'header.html' %}

{% include 'search.html' %}

<section class="container intro">
    <div class="row">
        <div class="col">
            <h2 class="text-center intro__headline">
                How it's working?
            </h2>
            <hr>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">
                Why should I look for interests?
            </h3>
            <p class="text-center">
                Since 2019, the share of interest-targeted advertising has increased from 5% to 22% among B2B companies. Why is this happening? First, Facebook's algorithms are getting better and better at finding the right audience. Second, interest allows you to build a broad target audience. This approach is gaining popularity and is recommended by experts. Third, this way of targeting builds a stream of "fresher" population to your ads, from which you can catch those most interested and engaged.
            </p>
            <hr>
            <h3 class="text-center">
                What strategies can I use for interest targeting?
            </h3>
            <p class="text-center">
                For starters, I can recommend two strategies that are worth testing. I am sure you will discover others as well.
            </p>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h4 class="text-center">
                        Themed interests
                    </h4>
                    <p>
                        Search for interests that your potential users can have. Keep adding until you collect at least 500,000 users, preferably around 1 million.
                    </p>
                    <p>
                        If you are a health food producer, your ads could look something like this:
                    </p>
                    <ul>
                        <li>
                            Group 1: People interested in "Green living" (e.g., sustainable living, zero waste, recycling, sustainable packaging, sustainable food, etc.)
                        </li>
                        <li>
                            Group 2: People interested in sports and a healthy lifestyle (e.g., healthy life, running, swimming, fitness and wellness, etc.)
                        </li>
                        <li>
                            Group 3: People interested in cooking (e.g., cooking, cooking healthy, salad, etc.)
                        </li>
                    </ul>
                    <p>
                        Search for similar interests, type in everything that comes to your mind related to the topic. Test it out. 
                    </p>
                    <p>
                        <strong>Remember:</strong> each group should have tailored ad creative to their interest.
                    </p>    
                </div>
                <div class="col-12 col-lg-6">
                    <h4 class="text-center">
                        "ANDing" audience
                    </h4>
                    <p>
                        Facebook allows you to combine interests so that the audience must meet more than one condition (interest).
                    </p>
                    <p>
                        If you enter five interests in one field, each condition between them works like "OR" (cooking or healthy life).
                        If you add a new field, the conditions between them work like "AND" (cooking and healthy life).
                    </p>
                    <p>
                        If you enter 5-10 interests in the first field and as many in the second field, Facebook will build an audience out of people meeting at least one condition (interest) from the first field and at least one condition (interest).
                    </p>
                    <p>
                        Continuing the example with a health food producer:
                    </p>
                    <ul>
                        <li>
                            First field: cooking-related interests
                        </li>
                    </ul>
                    <p>
                        AND
                    </p>
                    <ul>
                        <li>
                            Second field: interests related to green living
                        </li>
                    </ul>
                    <p>
                        AND (optional)
                    </p>
                    <ul>
                        <li>
                            Third field: interests related to a healthy lifestyle.
                        </li>
                    </ul>
                    <p>
                        Remember that the audience should not be too narrow. Aim for at least 500,000.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}