{% include 'header.html' %}

{% include 'search.html' %}

<section class="container intro">
    <div class="row">
        <div class="col">
            <h2 class="text-center intro__headline">
                Jak korzystać z tego narzędzia?
            </h2>
            <hr>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">
                Dlaczego warto szukać zainteresowań?
            </h3>
            <p class="text-center">
                Od 2019 roku udział reklamy kierowanej na zainteresowania wzrósł z 5 do 20% wśród firm b2b. Dlaczego tak się dzieje? Po pierwsze, algorytmy Facebooka potrafią obecnie znacznie lepiej poradzić sobie ze znalezieniem zainteresowanych osób, niz było to w przeszłości. Po drugie, zainteresowania pozwalają na zbudowanie szerokiej grupy odbiorców. Po trzecie korzystajac wyłącznie z remarketingu i kierowania na osoby podobne istnieje ryzyko, ze będziemy kręćić się wokół bardzo zblizonej grupy odbiroców. Wyklorzystanie zainteresowań pozwala na dopływ "świerzej" populacjki, choć przy prawdopodobnie drozszej konwersji.
            </p>
            <hr>
            <h3 class="text-center">
                Jakie strategie przyjąć przy kierowaniu reklemy na zainteresowania?
            </h3>
            <p class="text-center">
                Mogę polecić dwie strategie, które warto przetestować
            </p>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h4 class="text-center">
                        Tematyczne grupy odbiorców
                    </h4>
                    <p>
                        Szukaj zainteresowań zbienych z Twoimi potencjalnymi uytkownikami. Dokładaj tak długo, a azbierasz przynajmniej 500 tys. urzytkowników, najlepiej ok. 1 miliona.
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                    <h4 class="text-center">
                        Tematyczne grupy odbiorców
                    </h4>
                    <p>
                        Szukaj zainteresowań zbienych z Twoimi potencjalnymi uytkownikami. Dokładaj tak długo, a azbierasz przynajmniej 500 tys. urzytkowników, najlepiej ok. 1 miliona.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}