<section class="container-fluid hero-search">
    <div class="d-flex align-items-center flex-column justify-content-center hero-search__body">
        <div class="row">
            <div class="row">
                <div class="col text-center">
                    <h4 class="hero-search__fb">
                        Facebook Ads
                    </h4>
                    <h1 class="hero-search__hedline">
                        Interest Research Tool
                    </h1>
                    <p class="hero-search__tagline">
                        Type in what you are looking for and discover a list of similar interests
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <form method="POST" action="{{url_for('resoults')}}" class="hero-search__form">
                    <div class="col hero-search__input">
                        <input name="search_term" type="text" class="form-control hero-search__input--phrase" placeholder="What interests your target group?">
                    </div>
                    <div class="col hero-search__input">
                        <select name="lang" class="form-select hero-search__input--language">
                            <option value="en_US">English (US)</option>
                            <option value="pl_PL">Polish</option>
                            <option value="ru_RU">Russien</option>
                            <option value="de_DE">German</option>                            </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn hero-search__button">
                            Explore
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>