<section class="container-fluid hero-search">
    <div class="d-flex align-items-center flex-column justify-content-center hero-search__body">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="hero-search__fb">
                    Facebook Ads
                </h4>
                <h1 class="hero-search__hedline">
                    Interest Research Tool
                </h1>
                <p class="hero-search__tagline">
                    Type in what you are looking for and discover a list of similar interests
                </p>
            </div>
        </div>
            <form method="POST" action="{{url_for('resoults')}}" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-12">
                    <input name="search_term" type="text" class="form-control hero-search__input--phrase" placeholder="Type in interest">
                </div>    
                <div class="col-12">
                    <select name="lang" class="form-select">
                        <option value="en_US">English (US)</option>
                        <option value="pl_PL">Polish</option>
                        <option value="ru_RU">Russien</option>
                        <option value="de_DE">German</option>                            
                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn hero-search__button">
                        Research
                    </button>
                </div>
            </form>
    </div>
</section>